body{
    background-color: #00bfeb;
}
div{
    width:600px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #d300a5;
    padding: 30px 60px 80px 60px;
    font-family: verdana;
}
h1{
    color:#d300a5;
    font-family: Impact;
    margin-top: 50px;
    margin-bottom: 50px;

}
img{
    width: 550px;
}
p{
    color:#d300a5;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 80px;
}
a{
    background-color: #00f8ff;
    color: #d300a5;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 40px;
}